.name {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
}
.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 130px;
  height: 135px;
  justify-content: space-between;
}
.categoryValue {
  font-size: 1.2rem;
}
.circleWithIcon {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  cursor: pointer;
}
.icon {
  width: 80px;
  height: 80px;
}
