h3 {
  margin: 0;
}
.wrapper {
  display: flex;
  flex-flow: column;
  width: 60px;
  height: 110px;
  align-items: center;
  justify-content: space-between;
}
.wrapper span {
  font-size: 1.3rem;
}
.circleWithIcon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.icon {
  width: 70px;
  height: 70px;
  position: relative;
  z-index: -1;
}
