/* .header-wrapper {
  display: flex;
  height: 100px;
  background: lightblue;
  align-items: center;
  justify-content: space-around;
} */
/* .totals-wrapper {
  display: flex;
}
.totals {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 150px;
} */
